
@{
    ViewData["Title"] = "About";
}

<h1>
    @LocaleText.About
</h1>

<p>
    @LocaleText.Lorem_One
</p>

<h2>
    @LocaleText.Lorem_Title
</h2>
<p>
    @LocaleText.Lorem_Two
</p>

<p>
    @LocaleText.Lorem_Three
</p>