@{
    ViewData["Title"] = LocaleText.Home;
}

<div class="text-center">
    <h1 class="display-4">
        @LocaleText.Welcome
    </h1>
    <p>
        @LocaleText.LearnAbout
        <a href="https://docs.microsoft.com/aspnet/core">
            @LocaleText.BuildApps
        </a>
        .
    </p>
</div>

<h1>
    @LocaleText.Introduction
</h1>
<p>
    @LocaleText.Introduction_Desc

</p>